:root {
  /* Couleurs de thème */
  --color-primary: #38003D;   /* Fond violet */
  --color-text: #03F1FE;      /* Texte cyan */
  --color-accent: #4d9aff;    /* Couleur d'accent (boutons) */
  --color-secondary: #ce9059; /* Orange/sable pour éléments spécifiques */
  
  /* Polices */
  --font-primary: "Libre Baskerville", serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  
  /* Espacement */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

/* Classes utilitaires globales */
.text-primary {
  color: var(--color-text);
}

.bg-primary {
  background-color: var(--color-primary);
}

.font-primary {
  font-family: var(--font-primary);
}

/* Classes de typographie */
.libre-regular {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

.libre-bold {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

.libre-italic {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  font-style: italic;
}